
.main {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.userEntry {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 1em;
}

.dropdownButton > h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

.content {
  padding: 1em;
}

.emptyForm {
  width: clamp(200px, calc((50vw - 6em) / 2), 600px);
}

.mainHeading {
  text-align: center;
  font-weight: 600;
}

.idForm {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: flex-start;
}

.summaryForm {
  display: flex;
  justify-content: flex-start;
}




