.addJobForm > .formBasicInput {
    
    width: clamp(200px, calc((50vw - 9em) / 2), 600px);
      
}

.experienceForm {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

.addJobForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 1em;
    
}

.submitJob {
    width: calc(1em + 12.5vw);
}

/* .experienceDrop > .experienceForm {
    display: flex;
}

.experienceDrop > .shrunk {
    display: hidden;
} */